@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #343541;
}

.container {
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

input {
  font-size: 21px;
}

#input-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  margin-left: 15px;
  transition: all 0.3s ease;
}

#input-button:hover {
  background-color: #388e3c;
}

.chat-container {
  flex: 1;
  width: 100%;
}

#chat-log {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.6;
}

#chat-log i {
  margin-right: 10px;
  color: #fff;
  border-radius: 5px;
}
